#contact {
  padding: 0 20px;
  margin: 20px auto;
  text-align: justify;
}
#contact h2 {
  font-size: 2.5em;
}

.contact-content {
  margin: 10px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.form-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 720px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

form label {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #000;
}

form input,
form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  resize: none;
}
form input:hover,
form textarea:hover {
  border: 1px solid #000;
}

.submitButton {
  padding: 10px;
  margin: 10px 0;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

.submitButton:hover {
  background-color: #333;
}

.contact-map {
  width: 80%;
  margin: 10px auto;
  max-width: 720px;
  max-height: 200px;
}

.social-media {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 0px;
  max-width: 360px;
  width: 30%;
  justify-content: space-between;
  overflow: hidden;
}

.network-element {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px 0;
}

.social-media img {
  margin: 0 20px 0 20px;
  width: 48px;
  height: 48px;
}
.email img {
  width: 36px;
  height: 36px;
  margin: 0 26px 0 26px;
}
.email {
  color: rgb(242, 21, 21);
}
.whatsapp {
  color: var(--color-whatsapp);
}
.facebook {
  color: var(--color-facbook);
}
.instagram {
  color: rgb(188, 20, 121);
}

@media (max-width: 720px) {
  .social-media {
    flex-direction: row;
    max-width: 720px;
    flex-wrap: wrap;
    padding: 0px 40px 0px 20px;
  }
  .network-element {
    margin: 5px 0;
  }
  .social-media,
  .form-map {
    width: 90%;
  }
}
