.home_header {
  background: rgba(0, 0, 0, 0.5) url("../assets/header/broderie_header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  color: #e2e2e2;
  padding: 10px;
  height: calc(100vh - var(--header-height));
  box-shadow: 0px 5px 10px black;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.home_header img {
  width: 80%;
}
.lang-toggle-btn {
  position: absolute;
  top: 80px;
  right: 30px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
  color: red;
}

.lang-dropdown {
  position: absolute;
  top: 60px;
  right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.lang-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.lang-dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

.lang-dropdown li:hover {
  background: #f0f0f0;
}
